{% extends "core/base.html" %}

{% block mainSection %}
<div class='full-width bg-c-white' style="">
	<div class='row' style='padding-top: 20px; height: 600px'>
		<div class='columns small-16'>
			<h2 class='' style='color: #8f3d15'>ჩვენი ხედვა</h2>
			<ul>
				<li>ჩვენ ვაშენებთ ხარისხიანად</li>
				<li>ჩვენი ფასი ყოველთვის საბაზროა</li>
				<li>ჩვენ გვიყვარს ჩვენი კლიენტები</li>
				<li>ჩვენი წარმატება ჩვენი საიდუმლოა</li>
			</ul>
		</div>
		<div class='columns small-8'>
			<!--<h2 class='caption t-c-wood'>კონტაქტი</h2>t-c-wood t-c-darkbrown
			bg-c-warmgraylight bg-c-warmgraylight -->
			<div style='border-radius: 4px; background-color: #94715B;'>
			</div>
		</div>			
	</div>
</div>
<div class='full-width bg-c-pastelcream'>
	<div class='row' style='padding-top: 30px'>
		<div class='columns small-24' style='height: 200px'>
		
		</div>
	</div>
</div>
<div class='full-width bg-c-pastelcream'>
	<div class='row' style='padding-top: 30px'>
		<div class='columns small-24' style='height: 200px'>
		
		</div>
	</div>
</div>


{% endblock %}