{% extends "core/base.html" %}

{% block mainSection %}
<div class='full-width bg-c-white' style="">
	<div class='row' style='padding-top: 20px; height: 600px'>
		<h2 class='columns small-24' style='color: #8f3d15; margin-bottom: 20px'>კონტაქტი</h2>

		<div class='columns small-4'>
			<!--<h2 class='' style='color: #8f3d15'>ჩვენი ხედვა</h2>-->
            <p>მისამართი:</p>
            <p>ტელეფონი:</p>
            <p>e-mail:</p>
        </div>
			
        <div class='columns small-8' style="float:left">
            <p>ვაჟა-ფშაველას 87</p>
            <p>032 2456 789</p>
            <p>contact@gradburg.ge</p>
        </div>

		<div class='columns small-12'>
			<div id="map"></div>
			<script src="https://maps.googleapis.com/maps/api/js"></script>
			<script>
			  function initialize() {
				  var mapCanvas = document.getElementById('map'),
				  	  position = {lat: 41.7250488, lng: 44.74291799};
				  var mapOptions = {
				      center: new google.maps.LatLng(position.lat, position.lng),
				      zoom: 16,
				      mapTypeId: google.maps.MapTypeId.ROADMAP
				  }
				  var map = new google.maps.Map(mapCanvas, mapOptions);
			      var marker = new google.maps.Marker({
					  position: position,
					  map: map,
					  title: 'Gradburg'
				  });      
				  
			  }
		      google.maps.event.addDomListener(window, 'load', initialize);

			</script>
		
			<!--<h2 class='caption t-c-wood'>კონტაქტი</h2>t-c-wood t-c-darkbrown
			bg-c-warmgraylight bg-c-warmgraylight -->
			<div style='border-radius: 4px; background-color: #94715B;'>
			</div>
		</div>			
	</div>
</div>
<div class='full-width bg-c-pastelcream'>
	<div class='row' style='padding-top: 30px'>
		<div class='columns small-24' style='height: 200px'>
		
		</div>
	</div>
</div>
<div class='full-width bg-c-pastelcream'>
	<div class='row' style='padding-top: 30px'>
		<div class='columns small-24' style='height: 200px'>
		
		</div>
	</div>
</div>


{% endblock %}