{% extends "core/base.html" %}

{% block mainSection %}
<div class='full-width tbg' id='bannerhead1'>
	<div class='row'>
		<div class='columns small-24' style='height: 400px'>
		</div>
	</div>
</div>
<div class='full-width bg-c-white' style="">
	<div class='row' style='padding-top: 20px; height: 600px'>
		<div class='columns small-16'>
			<h2 class='' style='color: #8f3d15'>ჩვენი ხედვა</h2>
			<ul>
				<li>ჩვენ ვაშენებთ ხარისხიანად</li>
				<li>ჩვენი ფასი ყოველთვის საბაზროა</li>
				<li>ჩვენ გვიყვარს ჩვენი კლიენტები</li>
				<li>ჩვენი წარმატება ჩვენი საიდუმლოა</li>
			</ul>
		</div>
		<div class='columns small-8'>
			<!--<h2 class='caption t-c-wood'>კონტაქტი</h2>t-c-wood t-c-darkbrown
			bg-c-warmgraylight bg-c-warmgraylight -->
			<div style='border-radius: 4px; background-color: #94715B;'>
			</div>
		</div>			
	</div>
</div>
<div class='full-width bg-c-pastelcream'>
	<div class='row' style='padding-top: 30px'>
		<div class='columns small-24' style='height: 200px'>
		
		</div>
	</div>
</div>
<div class='full-width bg-c-pastelcream'>
	<div class='row' style='padding-top: 30px'>
		<div class='columns small-24' style='height: 200px'>
		
		</div>
	</div>
</div>
<!--<div class='full-width bg-c-warmgray'>
	<div class='row'>
		<div class='columns small-24' style='height: 400px'>
			Hello World
		</div>
	</div>
</div>-->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
$(document).ready(function() {
    var header1 = $('#bannerhead1')

    var backgrounds = new Array(
        'url(../../media/images/banners/1.jpg)',
        'url(../../media/images/banners/2.jpg)',
        'url(../../media/images/banners/3.jpg)',
        'url(../../media/images/banners/4.jpg)',
        'url(../../media/images/banners/6.jpg)'
    )

    var current = 0;

    function nextBackground() {
        current++
        current = current % backgrounds.length
		header1.css('background-image', backgrounds[current]).fadeIn(500)
    }

    setInterval(nextBackground, 3500)

    header1.css('background-image', backgrounds[0])
});
</script>

{% endblock %}