{% extends "core/base.html" %}

{% block mainSection %}
<div class='full-width tbg' id='bannerhead1' style='height: 400px; background-color: #7F9822'>
    <div id="bg-wrapper">
        <div class="bg1" style="z-index: 1"></div>
        <div class="bg2" style="z-index: 2"></div>
    </div>
    <div style="font-size: 48px; font-weight: bold; font-family: mrgvalCaps;
        position: relative; top: 160px; z-index: 100; color: white" class="row">
        <div class="columns small-24" style="text-align: left;
            text-shadow:rgba(255,255,255,.5) -1px -1px 1px, rgba(0,0,0,.5) 2px 2px 2px;">
            <span style="font-size: 36px">მიმდინარე პროექტი:</span><br>Gradburg-ნაძალადევი
        </div>
    </div>
</div>


<div class='full-width bg-c-white' style='padding-top: 20px; padding-bottom: 40px'>
    <div class="row" style="margin-bottom: 40px">
        <h2 class='columns small-24' style='color: #8f3d15; margin-bottom: 20px; font-weight: bold'>პროექტი</h2>
        <div class='columns small-16'>
            პროექტ <b>Gradburg-ნაძალადევის</b> კონცეფცია არის გარემოს და ნაძალადევში მცხოვრები ადამიანების ხასიათს მისადაგებული მშენებლობა. ეს გამოიხატება მხოლოდ <b>9 სართულიან და ერთსადარბაზოიან</b> საცხოვრებელ კორპუსში, გარშემო უფრო მაღალსართულიანი მშენებლობების ფონზე.
<br/><br/>ჩვენ გამოვიყენეთ <b>ბუნებრივი მასალები</b> ფასადის მოპირკეთებაში, რათა ხაზი გაგვესვა კორპუსის სიჯანსაღეზე.
<br/><br/>კორპუსს გააჩნია 16 ადგილზე გათვლილი <b>მიწისქვეშა პარკინგი</b>, მათ შორის უნარშეზღუდულ პირთათვის განკუთვნილი ავტოსადგომო. რაც სრულად დააკმაყოფილებს მაცხოვრებელთა მოთხოვნებს.
<br/><br/>პირველი სართული განკუთვნილია კომერციულ ფართებზე; 8 სართული - საცხოვრებელი ფართი, 3 ბინით თითოეულ სართულზე.
<br/><br/>სტანდარტულად გათვალისწინებულია <b>3 ტიპიური ბინა</b>: 48.1 კვ/მ, 73.1 კვ/მ, 110.5 კვ/მ, თუმცა მყიდველის სურვისამებრ შესძლებელია ფართის ადაპტაცია.
<br/><br/>კორპუსის ექსპლუატაციაში შესვლის ვადა არის <b>2017 წლის ოქტომბერი</b>.
		</div>
        <div class='columns small-8'>
            <img src="/media/images/fasadi sqematuri.png" style="max-height: 350px;" />
		</div>
    </div>
	<div class='row'>
		<div class='columns small-8'>
            <img src="/media/images/building 1.png" style="max-height: 350px;" />
		</div>
        <div class='columns small-8'>
            <img src="/media/images/building 2.png" style="max-height: 350px;" />
        </div>
        <div class='columns small-8'>
            <img src="/media/images/building 3.png" style="max-height: 350px;" />
        </div>
    </div>
</div>



<div class='full-width bg-c-pastelcream' style='padding-top: 20px; padding-bottom: 40px'>
    <div class="row">
        <h2 class='columns small-24' style='color: #8f3d15; margin-bottom: 20px; font-weight: bold'>მდებარეობა</h2>
    </div>
    <div class='row' style='padding-top: 0px; line-height: 30px'>
		<div class='columns small-12 left'>
            <div class="row">
                <div class='columns small-4'>
                    <!--<h2 class='' style='color: #8f3d15'>ჩვენი ხედვა</h2>-->
                    <p><b>მისამართი:</b></p>
                    <!--<p>ტელეფონი:</p>
                    <p>e-mail:</p>-->
                </div>

                <div class='columns small-8' style="float:left">
                    <p>ჭყონდიდელის ქუჩა, 22</p>
                    <!--<p>032 2456 789</p>
                    <p>contact@gradburg.ge</p>-->
                </div>
            </div>

            Gradburg-ნაძალადევის კორპუსი მდებაორეობს ნაძალადევში, <br />მეტრო ელექტროდეპოდან ფეხით 5 წუთის სავალზე. <br />ასევე, ფეხით 5 წუთის სავალზე N1 სამშობიარო სახლიდან.
        </div>



		<div class='columns small-12 right'>
			<div id="map"></div>
			<script src="https://maps.googleapis.com/maps/api/js"></script>
			<script>
              var position = {lat: 41.7406522, lng: 44.7876616},
                  metroPos = {lat: 41.7429269, lng: 44.7839426},
                  markerPos = {lat: 41.7382259, lng: 44.7919417},
                  directionsDisplay = new google.maps.DirectionsRenderer(),
                  directionsService = new google.maps.DirectionsService();
			  function initialize() {
				  var mapCanvas = document.getElementById('map');

				  var mapOptions = {
				      center: new google.maps.LatLng(position.lat, position.lng),
				      zoom: 15,
				      mapTypeId: google.maps.MapTypeId.ROADMAP
				  }
				  var map = new google.maps.Map(mapCanvas, mapOptions);
			      var marker = new google.maps.Marker({
					  position: markerPos,
					  map: map,
					  title: 'Gradburg'
				  });

                  directionsDisplay.setMap(map);
                  calcRoute();

			  }
		      google.maps.event.addDomListener(window, 'load', initialize);


                function calcRoute() {


                  var request = {
                    origin:metroPos,
                    destination:markerPos,
                    travelMode: google.maps.TravelMode.WALKING
                  };
                  directionsService.route(request, function(result, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                      directionsDisplay.setDirections(result);
                    }
                  });
                }

			</script>

			<!--<h2 class='caption t-c-wood'>კონტაქტი</h2>t-c-wood t-c-darkbrown
			bg-c-warmgraylight bg-c-warmgraylight -->
			<div style='border-radius: 4px; background-color: #94715B;'>
			</div>
		</div>
	</div>
</div>


<script>

    var bg1 = $('#bannerhead1 #bg-wrapper .bg1'),
        bg2 = $('#bannerhead1 #bg-wrapper .bg2');

    var backgrounds = new Array(
            //'url(../../media/images/banners/1.jpg)',
            '../../media/images/banners/2.jpg',
            '../../media/images/banners/3.jpg',
            '../../media/images/banners/4.jpg',
            '../../media/images/banners/5.jpg'
    );
    preload(backgrounds);

    var bgChangeInterval;
    var current = 0, next = 0;
    bg1.css('background-image', 'url(' + backgrounds[1] + ')');
    bg2.css('background-image', 'url(' + backgrounds[0] + ')');
    var bgs = [bg1, bg2];
    var topBg = bg2;
    var lastChangeTime = 0;
    var duration = 10000;
    var elapsed = 0;
    var y = 0, minY = -200, maxY = 0, speed = 0.02, prevTime = Date.now(), deltaTime = 0;

    function nextBackground() {
        current = next;
        next++;
        next = next % backgrounds.length;
        bgs[0].css('opacity', '0.0').css('z-index', 2).css('transform', 'translate3d(0, 0, 0)');
        y = 0;
        topBg = bgs[0];
        bgs[1].css('z-index', '1');

        bgs[0].fadeTo(1500, 1, function () {
            bgs[1].css('background-image', 'url(' + backgrounds[(next + 1) % backgrounds.length] + ')');
            var t = bgs[0];
            bgs[0] = bgs[1];
            bgs[1] = t;
        });
        lastChangeTime = Date.now();
	bgChangeInterval = window.setTimeout(nextBackground, duration);
    }

    var bgChangeInterval;
    function startBgChanger () {
        lastChangeTime = Date.now();
        bgChangeInterval = window.setTimeout(nextBackground, duration - elapsed);
	elapsed = 0;
	prevTime = lastChangeTime;
    }
    function stopBgChanger () {
        window.clearTimeout(bgChangeInterval);
        elapsed = (Date.now() - lastChangeTime);
    }

    window.addEventListener('focus', startBgChanger);
    window.addEventListener('blur', stopBgChanger);

    $(document).ready(function() {
        startBgChanger();
    });



    window.requestAnimationFrame(animate);
    
    function animate () {
        window.requestAnimationFrame(animate);

        time = Date.now();
        deltaTime = time - prevTime;
        
        prevTime = time;

        y -= deltaTime * speed;
        if (y <= minY) {
            y = minY;
        }
        topBg[0].style.transform = ['translate3d(0, ' + y +'px, 0)'];
    }

</script>


{% endblock %}
